{% extends "base.html" %}

{% block header %}
  <header class="masthead" style="background-image: url('/static/img/list-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>List of Posts</h1>
            <h2 class="subheading">Find all shared stories below.  </h2>
<!--            <span class="meta">Posted by-->
<!--              <a href="#">Start Bootstrap</a>-->
<!--              on August 24, 2019</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock header %}
{% block content %}
{{ block.super }}
<center>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
<!--      <th scope="col">#</th>-->
<!--      <th class="text-center" scope="col">Name</th>-->
      <th class="text-center" scope="col">Title</th>
      <th class="text-center" scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {% if all_posts %}

        {% for post in all_posts %}

       <tr>
           <td><center>{{post.title}}</center></td>

          <td><center><a href="{% url 'blog:delete_view' things.id %}">
              <button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
           </a>
           <a href="{% url 'blog:post_view' post.id %}">
               <button type="button"
                  class="btn btn-secondary btn-sm">View</button>
           </a></center></td>
       </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}


    </center>

{% endblock content %}
{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock footer %}